* {
  font-family: "Roboto";
}
.scoreboard__background {
  width: 200px;
  border-width: 2px;
  border-style: solid;
}
.rowDiv {
  width: 100%;
}
h3 {
  position: relative;
  left: 25%;
  right: 25%;
  margin-bottom: 20px;
}
.picNumberColumn {
  position: absolute;
  left: 10px;
  margin-right: 20px;
}
.colorColumn {
  position: absolute;
  left: 60px;
}
.colorColumn > * {
  position: relative;
  top: -18px;
  left: -30px;
}
.scoreColumn {
  position: absolute;
  right: 10px;
}
