* {
    font-family: 'Roboto';
}
.outerDiv {
    background-color: var(--accent-lighter-color);
    width:200px;
    position:absolute;
    left: calc(50% - 65px);
    color: var(--primary-color);
    border: 2px solid var(--accent-color);
}
.rowDiv {
    width:100%;
}
h3 {
    position: relative;
    left:25%;
    right:25%;
    margin-bottom: 20px;
}
.picNumberColumn {
    position: absolute;
    left:10px;
    margin-right: 20px;
}
.colorColumn {
    position: absolute;
    left:60px;
}
.colorColumn > * {
    position: relative;
    top:-18px;
    left: -30px;
}
.scoreColumn {
    position: absolute;
    right:10px;
}