<div class="outerDiv">
  <h3>Scoreboard</h3>
  <mat-grid-list cols="3" row="2:1" rowHeight="80px" gutterSize="5px">
    <mat-grid-tile *ngFor="let assignmentResult of assignmentResults$ | async" colspan="3">
      <!-- <mat-icon matListIcon>folder</mat-icon> -->
      <div class="rowDiv">
        <span class="picNumberColumn">{{ assignmentResult.Submission.Assignment.PicNumber }}</span>
        <span class="colorColumn">
          <app-pic-color-canvas
            [PicColor]="assignmentResult.Submission.Assignment.Color"
          ></app-pic-color-canvas>
        </span>
        <span class="scoreColumn">{{ assignmentResult.Score }}</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
