div {
    max-width: 680px;
    display: flex;
    justify-content: center;
}

a {
    margin-right: 5px;
    font-family: Roboto;
    font-size: small;
}
.app-component__center-wrapper {
    display: inline-block;
} 