<div class="ng-camera__wrapper">
    <app-photo-reel class="ng-camera__photo-reel"></app-photo-reel>
    <video #cameraVideo class="ng-camera__video ng-camera__video--themed mirrored" autoplay playsinline></video>
    <canvas #cameraCanvas class="mirrored hidden" ></canvas>
    <button mat-fab (click)="onButtonClicked()" class="ng-camera__button">
        <img src="../../../assets/camera-icon.png" class="ng-camera__button__image" alt="Take a picture">
    </button>
    <div class="ng-camera__view-finder"></div>
</div>