.fullScreen {
    position:fixed;
    height:100%;
    width:100%;
    object-fit:cover;
}
.mirrored {
    transform: scaleX(-1);
    filter: FlipH;
}
.hidden {
    display:none;
}
button{
    padding: 15px 20px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 56px);
}
.buttonImg{
    width:32px;
    position:relative;
    top:-17px;
    left:-7px;
}
.pic{
    height: 100px;
    width: 100px;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}
.camera-view-finder {
    width: 100px;
    height:60px;
    position:absolute;
    left: calc(50% - 100px);
    top: calc(50% - 30px);
    border: 2px solid black;
}