.wrapper-div {
    position:relative;
    width:fit-content;
    top:40px;
    left:40px;
}
.mirrored {
    transform: scaleX(-1);
    filter: FlipH;
}
.hidden {
    display:none;
}
button{
    padding: 15px 20px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: absolute;
    bottom: 30px;
    left: calc(50% - 28px);
}
.buttonImg{
    width:32px;
    position:relative;
    top:-17px;
    left:-7px;
}
.camera-view-finder {
    width: 100px;
    height:60px;
    position:absolute;
    left: calc(50% - 50px);
    top: calc(50% - 30px);
    border: 2px solid var(--accent-color);
}
app-photo-reel {
    position: absolute;
    left:0px;
    top:0px;
    z-index: 10;
}