:host {
    max-width: 680px;
}
.mirrored {
    transform: scaleX(-1);
    filter: FlipH;
}
.hidden {
    display:none;
}
.ng-camera__button {
    padding: 15px 20px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    left: calc(50% - 28px);
}
.ng-camera__button__image {
    width:32px;
    position:relative;
    top:-17px;
    left:-7px;
}
.ng-camera__photo-reel {
    z-index: 10;
    max-width:100%;
}
.ng-camera__video {
    width:100%;
}
.ng-camera__view-finder {
    width: 100px;
    height:60px;
    position:absolute;
    left: calc(50% - 50px);
    top: calc(50% - 30px);
    border: 2px solid var(--accent-color);
}
.ng-camera__wrapper {
    margin:10px;
}