<main class="fullScreen">
    <video id="camera--view" #cameraView class="fullScreen mirrored" autoplay playsinline></video>
    <canvas id="camera--sensor" #cameraSensor class="fullScreen mirrored hidden" ></canvas>
    <img id="camera--output" #cameraOutput class="fullScreen mirrored" alt="" src="//:0">
    <button mat-fab (click)="onButtonClicked()">
        <img src="../../../assets/camera-icon.png" class="buttonImg" alt="Take a picture">
    </button>
    <div class="camera-view-finder"></div>
    <app-photo-reel></app-photo-reel>
</main>
