<div>
    <span><h3>SETTINGS</h3></span>
    <span>
        <mat-slider min="1" max="100" step="10" value="100"></mat-slider>
    </span>
    <span>
        <ul>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: red;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: green;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: blue;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: yellow;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: orange;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: gray;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: white;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: brown;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: black;"></canvas></span></li>
            <li><mat-slide-toggle></mat-slide-toggle><span><canvas style="background-color: purple;"></canvas></span></li>
        </ul>
    </span>
</div> 
