:host {
    max-width: 680px;
}
* {
    font-family: 'Roboto';
}
h3 {
    position: relative;
    left:25%;
    right:25%;
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
.mat-slider-label {
    font-size: small;
    position: relative;
    left:25%;
    top:-10px;
}
mat-slider {
    position: relative;
    left: calc(50% - 64px); /* half of min-width: 128px*/
}
mat-slide-toggle {
    margin-left:-8px;
}