<div class="options-panel__container">
  <mat-card class="options-panel__section">
    <h3>SETTINGS</h3>
  </mat-card>
  <mat-card class="options-panel__section">
    <div>
      <mat-slider min="1" max="{{maximumPicsPerRound}}" step="1" value="{{picsPerRound}}" (input)="onPicsPerRoundChange($event)"></mat-slider>
      <mat-card-title>Pics per Round</mat-card-title>
    </div>
  </mat-card>
  <mat-card class="options-panel__section">
    <div>
      <mat-slider min="1" max="100" step="1" value="{{notificationDuration}}" (input)="onNotificationDurationChange($event)"></mat-slider>
      <mat-card-title>Notification Duration</mat-card-title>  
    </div>
  </mat-card>
  <mat-card class="options-panel__section">
    <mat-radio-group [(ngModel)]="facingMode">      
      <mat-radio-button class="selfie-mat-radio-button" [value]="selfieFacingMode" (change)="onFacingModeChange(selfieFacingMode)">Selfie</mat-radio-button>
      <mat-radio-button [value]="photographerFacingMode" (change)="onFacingModeChange(photographerFacingMode)">Photographer</mat-radio-button>
      <mat-card-title>Camera Mode</mat-card-title> 
    </mat-radio-group>
  </mat-card>
  <mat-card class="options-panel__section">
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let picColor of picColors">
        <mat-slide-toggle
          [color]="primaryThemeColor"
          [checked]="picColor.Enabled"
        ></mat-slide-toggle>
        <app-pic-color-canvas [PicColor]="picColor"></app-pic-color-canvas>
      </mat-chip>
    </mat-chip-list>
  </mat-card>
</div>
