:host {
    max-width: 680px;
}
* {
    font-family: 'Roboto';
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
}
.options-panel__section {
    display: flex;
    justify-content:center;
    margin: 5px;
}
mat-slide-toggle {
    margin-left:-8px;
}
mat-radio-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.selfie-mat-radio-button {
    margin-right:10px;
}
.options-panel__container {
    background-color: rebeccapurple;
}
mat-card {
    max-height: 300px;
    overflow-y:auto;
    text-align: center;
}