.photo-reel__wrapper {
    max-width: 100%;
}
.photo-reel__inner-wrapper {
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 2px solid rebeccapurple;
    background-color: rebeccapurple;
}
ul {
    padding-left: 0px;
    list-style-type: none;
    display: inline;
    white-space: nowrap;
}
li {
    display: inline;
    margin-right: 2px;
}
.photo-reel__image-wrapper {
    display:inline-block;
}
img {
    width:128px;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}