ul {
    list-style-type: none;
    border: 2px solid rebeccapurple;
    white-space: nowrap;
    background-color: rebeccapurple;
    overflow:auto;
}
li {
    display: inline-block;
    margin-right: 2px;
}
img {
    width:128px;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}