.pic-color-canvas__canvas {
    margin-left:20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.colorLabelSpan {
    margin-left: 10px;
}
.pic-color-canvas__wrapper {
    display: flex;
    align-items: center;
}